@{
    ViewData["title"] = "Noticias";
}

<section class="news-header">
    <h1>Noticias recientes</h1>
</section>

<h1>Hola Mundo</h1>

<link rel="stylesheet" href="~/css/news.css" asp-append-version="true" />