.section-title {
    text-align: center;
    margin: 3rem 0 0;
    font-size: 3rem;
}

.section-subtitle {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.125rem;
    color: #6c757d;
}

.button-sort {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    background-color: #dda15e;
    color: #343a40 !important;
    text-decoration: none;
    transition: all 0.2s ease;
    box-shadow: 2px 2px 3px -1px rgba(0 0 0 / 25%);
}

.button-sort:hover {
    box-shadow: none;
}

.btn-category {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    border: 1px solid #909090;
    border-radius: 0.25rem;
}

.section-products {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.section-products .product {
    width: 30%;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 25px -10px rgba(0 0 0 / 25%);
}

.section-products .product-image {
    height: 400px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.product-body {
    padding: 1rem;
    text-align: center;
}

.product-title {
    font-size: 1.75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-text {
    font-size: 1.15rem;
    text-align: left;
    color: #202020;
}

.product-price {
    font-size: 1rem;
    text-align: left;
}

.product-footer {
    width: 100%;
    padding-bottom: 1.5rem;
    display: flex;
    gap: 0.75rem;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    width: 115px;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    transition: all 0.2s ease;
    box-shadow: 2px 2px 3px -1px rgba(0 0 0 / 25%);
}

.button:hover {
    box-shadow: none;
    transform: translateY(-1.5px);
}

.button-details, .button-details:hover {
    background-color: #dda15e;
    color: #343a40;
}

.button-add, .button-add:hover {
    background-color: #202020;
    color: #fff;
}

.section-oferts {
    width: 100vw;
    margin: 6rem 0 0;
    margin-left: calc(((100vw - 1110px) / 2) * -1);
    background-color: #dda15e;
}

.oferts-row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.ofert-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.ofert-images {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.ofert-img {
    display: inline-block;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.price-dc {
    display: inline-block;
    color: #6c757d;
    text-decoration: line-through;
    margin-right: 0.5rem;
}

.services-flow {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-flow: row wrap;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.services-2 {
    width: 50%;
    height: 150px;
}

.service-icon {
    font-size: 3rem;
    margin-right: 1rem;
}

.service-item1 {
    background-color: #f8f9fa;
}

.service-item2 {
    background-color: #6c757d;
}

.service-item3 {
    background-color: #dbcc8f;
}

.service-item4 {
    background-color: #000;
    color: #fff;
}

.button-cart {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 4rem;
    border: 2px solid transparent;
    border-radius: 5rem;
    background-color: #dda15e;
    color: #202020;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 2px 2px 3px -1px rgba(0 0 0 / 25%);
    transition: all 0.2s ease;
}

.button-cart:hover {
    background-color: #fff;
    color: #dda15e;
    border-color: #dda15e;
    box-shadow: none;
    transform: translateY(-1.5px);
}

.main-opinions {
    width: 100%;
}

.section-opinions {
    width: 100%;
    column-count: 3;
    column-gap: 2rem;
}

.opinion-item {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 30px -15px rgba(0 0 0 / 25%);
}

.opinion-header {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

.opinion-header img {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.opinion-header p {
    padding-left: 0.5rem;
    border-left: 2px solid #dda15e;
}

.opinion-header p span {
    color: #6c757d;
    font-weight: bold;
}

.opinion-body p {
    font-size: 1rem;
}

.opinion-body p::before, .opinion-body p::after {
    content: "\"";
    font-size: 1.5rem;
    color: #dda15e;
    font-family: serif;
    font-weight: bold;
}

.opinion-form {
    width: 100%;
}

.opinion-group {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
    justify-content: start;
    align-items: flex-start;
}

.opinion-label {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.05rem;
}

.opinion-text {
    width: 100%;
    height: 100px;
    max-height: 150px;
    resize: vertical;
    outline: none;
    padding: 1rem;
    border: 1px solid #6c757d;
    border-radius: 0.5rem;
    font-size: 1.05rem;
}

.add-opinion-button {
    display: inline-block;
    padding: 0.75rem 2.75rem;
    border: 2px solid transparent;
    border-radius: 4rem;
    background-color: #dda15e;
    color: #202020;
    font-size: 1rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 2px 2px 3px -1px rgba(0 0 0 / 25%);
    transition: all 0.2s ease;
}

.add-opinion-button:hover {
    background-color: #fff;
    color: #dda15e;
    border-color: #dda15e;
    box-shadow: none;
    transform: translateY(-1.5px);
}