<div class="main-info">
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner slider-container">
            <div class="carousel-item active">
                <div class="slider-element">
                    <section class="slider-text">
                        <p class="slider-tag">
                            <span>Kiwi Toys</span>
                        </p>

                        <h4>Lo mejor de Bandai en Kiwi Toys</h4>

                        <p>
                            Tenemos los mejores productos de la línea
                            Bandai
                        </p>
                    </section>

                    <section class="slider-image">
                        <img src="~/images/bandai.png" />
                    </section>
                </div>
            </div>

            <div class="carousel-item">
                <div class="slider-element">
                    <section class="slider-text">
                        <p class="slider-tag">
                            <span>Kiwi Toys</span>
                        </p>

                        <h4>Colección Marvel Legends 2022</h4>

                        <p>
                            Las nuevas figuras Marvel Legends que
                            Kiwi Toys nos trae en estas navidades 2022
                        </p>
                    </section>

                    <section class="slider-image">
                        <img src="~/images/marvel.png" />
                    </section>
                </div>
            </div>

            <div class="carousel-item">
                <div class="slider-element">
                    <section class="slider-text">
                        <p class="slider-tag">
                            <span>Kiwi Toys</span>
                        </p>

                        <h4>Coleccionismo</h4>

                        <p>
                            Uno de los hobbies más bonitos y apasionados,
                            aunque un poco costoso.
                        </p>
                    </section>

                    <section class="slider-image">
                        <img src="~/images/bmx.png" />
                    </section>
                </div>
            </div>

            <div class="carousel-item">
                <div class="slider-element">
                    <section class="slider-text">
                        <p class="slider-tag">
                            <span>Kiwi Toys</span>
                        </p>

                        <h4>Nueva colleción de Hasbro</h4>

                        <p>
                            Hasbro es una de las empresas de jueguetes que lleva
                            la marca de Marvel a lo grande con sus nuevas figuras
                        </p>
                    </section>

                    <section class="slider-image">
                        <img src="~/images/hasbro.png" />
                    </section>
                </div>
            </div>

            <div class="carousel-item">
                <div class="slider-element">
                    <section class="slider-text">
                        <p class="slider-tag">
                            <span>Kiwi Toys</span>
                        </p>

                        <h4>Storm Collectibles anuncia su nueva figura</h4>

                        <p>
                            Storm Collectibles anuncia su nueva figura
                            Baki Hanma, mejor conocida como tunometecabrasanababichi.
                        </p>
                    </section>

                    <section class="slider-image">
                        <img src="~/images/storm.png" />
                    </section>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />