<section class="section-oferts">
    <div class="ofert">
        <div class="oferts-row">
            <div class="col-md-6">
                <img src="~/images/pop.png" class="img-fluid" alt="">
            </div>

            <div class="col-md-6">
                <div class="">
                    <span class="ofert-title">Oferta del dia</span>
                </div>

                <div class="text-deal">
                    <h2>Funko Party</h2>

                    <p class="price">
                        <span class="mr-2 price-dc">$450.00</span><span class="price-sale">$250.00</span>
                    </p>

                    <ul class="ofert-images">
                        <li>
                            <img class="ofert-img" src="~/images/products/prod1.png"/>
                        </li>
                        <li>
                            <img class="ofert-img" src="~/images/products/prod2.png" />
                        </li>
                        <li>
                            <img class="ofert-img" src="~/images/products/prod4.png"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>