<h1 class="section-title">Conoce un poco de nuestros servicios</h1>

<p class="section-subtitle">
	A continuación un poco de las cosas que ofrecemos para tí
</p>

<div class="services-flow">
	<div class="services-2 p-4 d-flex service-item1">
		<div class="icon">
			<span class="flaticon-bag service-icon"></span>
		</div>
		<div class="text">
			<h3>Envío gratis</h3>
			<p class="mb-0">Tu pedido llegara muy rapido y seguro por DHL.</p>
		</div>
	</div>

	<div class="services-2 p-4 d-flex service-item2">
		<div class="icon">
			<span class="flaticon-heart-box service-icon"></span>
		</div>
		<div class="text">
			<h3>Regalos</h3>
			<p class="mb-0">Si quieres mandar algun regalo solo nos dices y lo envolvemos.</p>
		</div>
	</div>

	<div class="services-2 p-4 d-flex service-item3">
		<div class="icon">
			<span class="flaticon-payment-security service-icon"></span>
		</div>
		<div class="text">
			<h3>Metodos de pago</h3>
			<p class="mb-0">
				Encontraras muchos tipos de pago pero ten por seguro que son confiables.
			</p>
		</div>
	</div>

	<div class="services-2 p-4 d-flex service-item4">
		<div class="icon">
			<span class="flaticon-customer-service service-icon"></span>
		</div>
		<div class="text">
			<h3>Soporte todos los días</h3>
			<p class="mb-0">Cualquier dia del año una persona real te contestara de inmediato.</p>
		</div>
	</div>
</div>