@{
    ViewData["title"] = "Acerca de";
}

<section class="about-header">
    <h1>Acerca de nosotros</h1>
</section>

<h2>Acerca de</h2>

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />