@{
    ViewData["title"] = "Acerca de";
}

<section class="about-header">
    <h1>Acerca de nosotros</h1>
</section>

<partial name="_Information" />

<h2 class="about-title">¿Quienes somos?</h2>
<p class="about-subtitle">Navega y descubre los increibles productos que tenemos para tí</p>

<section class="about-description">
    <div>
        <img src="~/images/we/about.jpg" alt="Aguascalientes" class="about-main-image"/>
    </div>

    <div>
        <h3 class="description-title">
            Establecidos desde Aguascalientes
        </h3>

        <p class="description-text">
            Somos una empresa 100% hidrocalida, la cual nacio como una idea 
            de proyecto para la escuela, pero que queremos que crezca mucho 
            más que eso, buscamos ser un negocio serio el asegure que 
            la experiencia de compra de los usuarios sera muy excelente.
            <br />
            Este proyecto empezó con la idea de facilitar a los coleccionistas el 
            conseguir figuras de manera facil y segura, además de que a un 
            precio accesible que rivaliza y en ocasionas supera a los de la 
            competencia.
            <br />
            Así que, que esperas para comenzar a comprar 😍
        </p>

        <a class="button-buy" asp-action="Index" asp-controller="Home">
            Comprar ahora
        </a>
    </div>
</section>

<h2 class="about-title">Un poco sobre nosotros</h2>
<p class="about-subtitle">¿Quienes son los creadores y las mentes detras de este proyecto?</p>

<section class="about-creators">
    <article class="about-creator">
        <img src="~/images/we/cesar.jpg" alt="Cesar Villalobos Olmos" class="creator-img"/>

        <h3 class="creator-name">
            Cesar Villalobos Olmos
        </h3>

        <p class="creator-text">
            Soy apasionado por la informatica, me encanta programar, crear 
            cosas nuevas, me dedico a desarrollar principalmente aplicaciones 
            web, pero tambien me gustan otras areas como el desarrollo movil 
            o las redes de computadoras. Formar parte de este proyecto fue 
            grandioso para mi ya que pude poner en practica mis conocimientos 
            en apoyar en el desarrollo de la app.
        </p>
    </article>

    <article class="about-creator">
        <img src="~/images/we/kiwi.jpg" alt="Cesar Alejandro Cervantes Salinas" class="creator-img" />

        <h3 class="creator-name">
            Cesar Alejandro Cervantes Salinas
        </h3>

        <p class="creator-text">
            Hola soy Cesar pero todos me conocen como Kiwi, me encantan los articulos 
            coleccionables, soy un apasionando por los comics y temas de anime, manga, etc.
            Me encanto formar parte de este proyecto porque siento que es algo 
            que me gusta mucho hacer, además de que soy fan de los productos que aqui vendemos.
        </p>
    </article>

    <article class="about-creator">
        <img src="~/images/we/diego.jpg" alt="Diego Sebastian Medina Zarate" class="creator-img" />

        <h3 class="creator-name">
            Diego Sebastian Medina Zarate
        </h3>

        <p class="creator-text">
            Haber formado parte de este proyecto desde la consumación de la idea 
            hasta el desarrollo del mismo fue realmente grandioso para mi, ya que 
            al igual que mi compañero Kiwi, me gusta mucho leer comics, comprar 
            articulos de coleccion y pienso que los que vendemos en esta 
            tienda son de la mejor calidad para los usuarios que los quieran comprar.
        </p>
    </article>

    <article class="about-creator">
        <img src="~/images/we/nicolas.jpg" alt="Nicolas Alejandro Flores Rodriguez" class="creator-img" />

        <h3 class="creator-name">
            Nicolas Alejandro Flores Rodriguez
        </h3>

        <p class="creator-text">
            Mi nombre es Nicolas y soy una persona que al igual que mis compañeros 
            me gustan mucho los temas de la informatica en general, asi como programar 
            y por supuesto que tambien soy bastante fan de los comics y de las figuras de acción, 
            creo que es un hobby que se me ha hido formando con el paso del tiempo 
            y el que haya una aplicación como esta que nos ayude a contribuir 
            en que más gente se apasione por esto me parece algo increible.
        </p>
    </article>
</section>

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />