@model EditTemporalSaleViewModel

@{
    ViewData["Title"] = "Editar pedido";
}

<h1>Editar</h1>
<h4>Carro de Compras</h4>

<hr />

<flash dismissable="true" />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group mt-2 mb-3">
                <input type="submit" value="Guardar" class="btn btn-outline-primary col-md-4 offset-2" />
                <a asp-action="ShowCart" class="btn btn-outline-success col-md-4">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}