@{
    ViewData["Title"] = "Orden lista";
}

<div class="row" style="margin: 0; margin-top: -10px !important;">
    <div class="col-md-4 offset-4">
        <img src="~/images/Shopping.png" style="width:400px; height: 300px; object-fit: cover; object-position: center;" />

        <h2>¡Gracias!</h2>
        <h5>Su pedido fue registrado en nuestro sistema, pronto uno de nuestros asesores se comunicará con usted.</h5>

        <a asp-action="Index" class="mt-2 btn btn-outline-success col-md-12">Inicio</a>
    </div>
</div>