<div class="row no-gutters ftco-services section-information">
    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
            <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-bag" style="font-size: 4rem;"></span>
            </div>
            <div class="media-body">
                <h3 class="heading">Envío gratis</h3>
                <p>Si compras mas de 600 MXN el envio es totalmente gratis.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
            <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-customer-service" style="font-size: 4rem;"></span>
            </div>
            <div class="media-body">
                <h3 class="heading">Soporte al cliente</h3>
                <p>
                    Si estas teniendo un problema comunicate diciendonos cual es el problema y lo
                    corregiremos lo mas pronto posible.
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
            <div class="icon d-flex justify-content-center align-items-center mb-4">
                <span class="flaticon-payment-security" style="font-size: 4rem;"></span>
            </div>
            <div class="media-body">
                <h3 class="heading">Pagos seguros</h3>
                <p>Los metodos de pago que usamos en esta pagina son seguros y verificados.</p>
            </div>
        </div>
    </div>
</div>