@{
    ViewData["Title"] = "NotAuthorized";
}

<br />
<br />

<div class="text-center">
    <img src="~/images/forbiden.png" />
    <h2>
        No estas autorizado para ejecutar esta acción!
    </h2>
</div>