@model AddUserViewModel

@{
    ViewData["Title"] = "Registrate";
}

<h2>Registrar</h2>
<h4>Usuario</h4>

<flash dismissable="true" />

<div class="text-success">
    <h3>
        @ViewBag.Message
    </h3>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserType" />
            <input type="hidden" asp-for="Countries" />
            <input type="hidden" asp-for="States" />
            <input type="hidden" asp-for="Cities" />

            <div class="form-group mb-3">
                <span class="required">*</span>
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <span class="required">*</span>
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <span class="required">*</span>
                        <label asp-for="PasswordConfirm" class="control-label"></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <partial name="_User" />

            <div class="form-group mt-3 mb-3">
                <button type="submit" value="Register" class="btn btn-primary text-white col-md-6 offset-3">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Registrar
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/DropdownCascade.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            const urlGetStates = '@Url.Action("GetStates")';
            const urlGetCities = '@Url.Action("GetCities")';

            $(function () {
                dropdownCascade(urlGetStates, urlGetCities);
            });
        });
    </script>
}