@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Resetear contraseña";
}

<flash dismissable="true" />

<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <div class="card bg-light mb-3 form-shadow">
            <h5 class="card-header text-center bg-info text-white">
                <i class="fa-solid fa-lock text-navy"></i>
                Resetea tu Contraseña
            </h5>

            <div class="card-body" style="background-color: #f9f9f9 !important;">
                <form method="post">
                    <div asp-validation-summary="All" class="alert alert-danger"></div>

                    <input type="hidden" asp-for="Token" />

                    <div class="form-group mb-3">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-warning"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-warning"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                    </div>

                    <div class="form-group mt-2 mb-3">
                        <input type="submit" value="Resetear Contraseña" class="btn btn-outline-primary" style="width: 100% !important;" />
                    </div>
                </form>
            </div>
        </div>

        <div class="text-success mt-3">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}